.solicite-container{
 

	background-color: #456e91 !important;
 

	border-radius: 30px !important;
 

	max-width: 800px;
 

	padding:20px 30px !important;
 

}
 


 

.input-contato{
 

	border-radius: 30px !important;
 

	margin-bottom: 13px;
 

}
 


 

.botao-enviar{
 

	background-color: white !important;
 

	color: #456e91 !important;
 

	border-radius: 30px !important;
 

}
 


 

.contato-container{
 

	padding:40px 20vw;
 

	display: flex;
 

	flex-direction: row;
 

	background-color: var( --e-global-color-7e0bde7 );
 

}
 


 

@media only screen and (max-width: 1300px) {
 

  .contato-container {
 

    padding: 20px 8vw;
 

  }
 

}
 


 

@media only screen and (max-width: 600px) {
 

  .contato-container {
 

    padding: 20px 10vw;
 

    display: flex;
 

    flex-direction: column;
 

  }
 

}
 


 


 

.solicite-orcamento{
 

	font-size: 35px !important;
 

	font-weight: 600 !important;
 

	color: white !important;
 

	box-sizing: border-box !important;
 


 

}
 


 

.elementor-icon-list-text{
 

	color: #456e91 !important;
 

}
 


 

.foto-2-container{
 

	display: flex !important;
 

	align-items: center !important;
 

	justify-content: center !important;
 


 

}
 


 

.divisor{
 

	border-block-start: 1px solid white;
 

	display: inherit;
 

}
 


 

.footer-text{
 

	font-family: 'Poppins' !important;
 

	margin-block-start: 0 !important;
 

	margin-bottom: 12px!important;
 

	font-weight: bold !important;
 

}
 


 

.elementor-element.elementor-element-b328c5b{
 

	border-color: #456e91 !important;
 

}