.elementor-3670 .elementor-element.elementor-element-c6e17d2:not(.elementor-motion-effects-element-type-background), .elementor-3670 .elementor-element.elementor-element-c6e17d2 > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-image:url("../images/imagem-estrela-site.jpg");
}
.elementor-3670 .elementor-element.elementor-element-c6e17d2 > .elementor-background-overlay{
    background-color:#00a5ff;
    opacity:0.5;
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3670 .elementor-element.elementor-element-c6e17d2{
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top:0px;
    margin-bottom:0px;
    padding:20px 20px 20px 20px;
    z-index:1;
}
.elementor-3670 .elementor-element.elementor-element-dfc7e3c > .elementor-element-populated > .elementor-background-overlay{
    background-color:#0F4C81;
    opacity:0.5;
}
.elementor-3670 .elementor-element.elementor-element-dfc7e3c > .elementor-element-populated{
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin:0px 0px 0px 0px;
    --e-column-margin-right:0px;
    --e-column-margin-left:0px;
    padding:0px 0px 40px 0px;
}
.elementor-3670 .elementor-element.elementor-element-dfc7e3c > .elementor-element-populated > .elementor-background-overlay{
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3670 .elementor-element.elementor-element-dfc7e3c{
    z-index:1;
}
.elementor-3670 .elementor-element.elementor-element-2c4b41b.elementor-column > .elementor-widget-wrap{
    justify-content:center;
}
.elementor-widget-icon.elementor-view-stacked .elementor-icon{
    background-color:var( --e-global-color-primary );
}
.elementor-widget-icon.elementor-view-framed .elementor-icon, .elementor-widget-icon.elementor-view-default .elementor-icon{
    color:var( --e-global-color-primary );
    border-color:var( --e-global-color-primary );
}
.elementor-widget-icon.elementor-view-framed .elementor-icon, .elementor-widget-icon.elementor-view-default .elementor-icon svg{
    fill:var( --e-global-color-primary );
}
.elementor-3670 .elementor-element.elementor-element-bd1424a{
    margin:-38px -1px calc(var(--kit-widget-spacing, 0px) + -38px) -1px;
    padding:0px 0px 0px 0px;
}
.elementor-3670 .elementor-element.elementor-element-bd1424a .elementor-icon-wrapper{
    text-align:center;
}
.elementor-3670 .elementor-element.elementor-element-bd1424a.elementor-view-stacked .elementor-icon{
    background-color:var( --e-global-color-afbf0de );
}
.elementor-3670 .elementor-element.elementor-element-bd1424a.elementor-view-framed .elementor-icon, .elementor-3670 .elementor-element.elementor-element-bd1424a.elementor-view-default .elementor-icon{
    color:var( --e-global-color-afbf0de );
    border-color:var( --e-global-color-afbf0de );
}
.elementor-3670 .elementor-element.elementor-element-bd1424a.elementor-view-framed .elementor-icon, .elementor-3670 .elementor-element.elementor-element-bd1424a.elementor-view-default .elementor-icon svg{
    fill:var( --e-global-color-afbf0de );
}
.elementor-3670 .elementor-element.elementor-element-bd1424a .elementor-icon{
    font-size:146px;
}
.elementor-3670 .elementor-element.elementor-element-bd1424a .elementor-icon svg{
    height:146px;
}
.elementor-widget-text-editor{
    font-family:var( --e-global-typography-text-font-family ), Open Sans;
    font-size:var( --e-global-typography-text-font-size );
    font-weight:var( --e-global-typography-text-font-weight );
    color:var( --e-global-color-text );
}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{
    background-color:var( --e-global-color-primary );
}
.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap, .elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap{
    color:var( --e-global-color-primary );
    border-color:var( --e-global-color-primary );
}
.elementor-3670 .elementor-element.elementor-element-2958ed6{
    padding:0px 0px 0px 0px;
    text-align:center;
    font-size:14px;
    font-weight:300;
    color:#EDEDED;
}
.elementor-3670 .elementor-element.elementor-element-f2436cc{
    --grid-template-columns:repeat(0, auto);
    text-align:center;
    padding:20px 0px 0px 0px;
    --icon-size:15px;
    --grid-column-gap:9px;
    --grid-row-gap:0px;
}
.elementor-3670 .elementor-element.elementor-element-f2436cc .elementor-social-icon{
    background-color:rgba(255,255,255,0.21);
    --icon-padding:0.6em;
}
.elementor-3670 .elementor-element.elementor-element-f2436cc .elementor-social-icon i{
    color:#ffffff;
}
.elementor-3670 .elementor-element.elementor-element-f2436cc .elementor-social-icon svg{
    fill:#ffffff;
}
.elementor-3670 .elementor-element.elementor-element-f2436cc .elementor-social-icon:hover{
    background-color:#ffffff;
}
.elementor-3670 .elementor-element.elementor-element-f2436cc .elementor-social-icon:hover i{
    color:#001c38;
}
.elementor-3670 .elementor-element.elementor-element-f2436cc .elementor-social-icon:hover svg{
    fill:#001c38;
}
.elementor-3670 .elementor-element.elementor-element-61f5157{
    margin:10px 0px calc(var(--kit-widget-spacing, 0px) + -38px) 0px;
    padding:0px 0px 0px 0px;
    text-align:center;
    font-size:10px;
    font-weight:300;
}
.elementor-widget-image-box .elementor-image-box-title{
    color:var( --e-global-color-primary );
    font-family:var( --e-global-typography-primary-font-family ), Open Sans;
    font-size:var( --e-global-typography-primary-font-size );
    font-weight:var( --e-global-typography-primary-font-weight );
    line-height:var( --e-global-typography-primary-line-height );
    letter-spacing:var( --e-global-typography-primary-letter-spacing );
}
.elementor-widget-image-box .elementor-image-box-description{
    color:var( --e-global-color-text );
    font-family:var( --e-global-typography-text-font-family ), Open Sans;
    font-size:var( --e-global-typography-text-font-size );
    font-weight:var( --e-global-typography-text-font-weight );
}
.elementor-3670 .elementor-element.elementor-element-8dd91a3{
    margin:0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
    padding:0px 0px 0px 0px;
}
.elementor-3670 .elementor-element.elementor-element-8dd91a3 .elementor-image-box-wrapper{
    text-align:center;
}
.elementor-3670 .elementor-element.elementor-element-8dd91a3.elementor-position-right .elementor-image-box-img{
    margin-left:0px;
}
.elementor-3670 .elementor-element.elementor-element-8dd91a3.elementor-position-left .elementor-image-box-img{
    margin-right:0px;
}
.elementor-3670 .elementor-element.elementor-element-8dd91a3.elementor-position-top .elementor-image-box-img{
    margin-bottom:0px;
}
.elementor-3670 .elementor-element.elementor-element-8dd91a3 .elementor-image-box-wrapper .elementor-image-box-img{
    width:43%;
}
.elementor-3670 .elementor-element.elementor-element-8dd91a3 .elementor-image-box-img img{
    transition-duration:0.3s;
}
.elementor-3670 .elementor-element.elementor-element-8dd91a3 .elementor-image-box-title{
    font-family:"Nunito Sans", Open Sans;
    font-size:10px;
    font-weight:normal;
    font-style:normal;
}
.elementor-3670 .elementor-element.elementor-element-8dd91a3 .elementor-image-box-description{
    color:#ADADAD;
    font-size:12px;
}
.elementor-widget-heading .elementor-heading-title{
    font-family:var( --e-global-typography-primary-font-family ), Open Sans;
    font-size:var( --e-global-typography-primary-font-size );
    font-weight:var( --e-global-typography-primary-font-weight );
    line-height:var( --e-global-typography-primary-line-height );
    letter-spacing:var( --e-global-typography-primary-letter-spacing );
    color:var( --e-global-color-primary );
}
.elementor-3670 .elementor-element.elementor-element-c644e54{
    text-align:left;
}
.elementor-3670 .elementor-element.elementor-element-c644e54 .elementor-heading-title{
    font-size:18px;
    font-weight:500;
    color:#ffffff;
}
.elementor-widget-nav-menu .elementor-nav-menu .elementor-item{
    font-family:var( --e-global-typography-primary-font-family ), Open Sans;
    font-size:var( --e-global-typography-primary-font-size );
    font-weight:var( --e-global-typography-primary-font-weight );
    line-height:var( --e-global-typography-primary-line-height );
    letter-spacing:var( --e-global-typography-primary-letter-spacing );
}
.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item{
    color:var( --e-global-color-text );
    fill:var( --e-global-color-text );
}
.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item:hover, .elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item.elementor-item-active, .elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item.highlighted, .elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item:focus{
    color:var( --e-global-color-accent );
    fill:var( --e-global-color-accent );
}
.elementor-widget-nav-menu .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before, .elementor-widget-nav-menu .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after{
    background-color:var( --e-global-color-accent );
}
.elementor-widget-nav-menu .e--pointer-framed .elementor-item:before, .elementor-widget-nav-menu .e--pointer-framed .elementor-item:after{
    border-color:var( --e-global-color-accent );
}
.elementor-widget-nav-menu{
    --e-nav-menu-divider-color:var( --e-global-color-text );
}
.elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-item, .elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-sub-item{
    font-family:var( --e-global-typography-accent-font-family ), Open Sans;
    font-weight:var( --e-global-typography-accent-font-weight );
}
.elementor-3670 .elementor-element.elementor-element-12a0b5d .elementor-menu-toggle{
    margin:0 auto;
}
.elementor-3670 .elementor-element.elementor-element-12a0b5d .elementor-nav-menu .elementor-item{
    font-size:14px;
}
.elementor-3670 .elementor-element.elementor-element-12a0b5d .elementor-nav-menu--main .elementor-item{
    color:var( --e-global-color-afbf0de );
    fill:var( --e-global-color-afbf0de );
    padding-top:4px;
    padding-bottom:4px;
}
.elementor-3670 .elementor-element.elementor-element-12a0b5d .elementor-nav-menu--dropdown a, .elementor-3670 .elementor-element.elementor-element-12a0b5d .elementor-menu-toggle{
    color:var( --e-global-color-afbf0de );
    fill:var( --e-global-color-afbf0de );
}
.elementor-3670 .elementor-element.elementor-element-12a0b5d .elementor-nav-menu--dropdown a:hover, .elementor-3670 .elementor-element.elementor-element-12a0b5d .elementor-nav-menu--dropdown a.elementor-item-active, .elementor-3670 .elementor-element.elementor-element-12a0b5d .elementor-nav-menu--dropdown a.highlighted, .elementor-3670 .elementor-element.elementor-element-12a0b5d .elementor-menu-toggle:hover{
    color:var( --e-global-color-afbf0de );
}
.elementor-3670 .elementor-element.elementor-element-12a0b5d .elementor-nav-menu--dropdown a:hover, .elementor-3670 .elementor-element.elementor-element-12a0b5d .elementor-nav-menu--dropdown a.elementor-item-active, .elementor-3670 .elementor-element.elementor-element-12a0b5d .elementor-nav-menu--dropdown a.highlighted{
    background-color:#062947;
}
.elementor-3670 .elementor-element.elementor-element-12a0b5d .elementor-nav-menu--dropdown .elementor-item, .elementor-3670 .elementor-element.elementor-element-12a0b5d .elementor-nav-menu--dropdown .elementor-sub-item{
    font-size:14px;
}
.elementor-3670 .elementor-element.elementor-element-12a0b5d .elementor-nav-menu--main .elementor-nav-menu--dropdown, .elementor-3670 .elementor-element.elementor-element-12a0b5d .elementor-nav-menu__container.elementor-nav-menu--dropdown{
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);
}
.elementor-3670 .elementor-element.elementor-element-f8c4a9e{
    text-align:left;
}
.elementor-3670 .elementor-element.elementor-element-f8c4a9e .elementor-heading-title{
    font-size:18px;
    font-weight:500;
    color:#ffffff;
}
.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after{
    border-color:var( --e-global-color-text );
}
.elementor-widget-icon-list .elementor-icon-list-icon i{
    color:var( --e-global-color-primary );
}
.elementor-widget-icon-list .elementor-icon-list-icon svg{
    fill:var( --e-global-color-primary );
}
.elementor-widget-icon-list .elementor-icon-list-item > .elementor-icon-list-text, .elementor-widget-icon-list .elementor-icon-list-item > a{
    font-family:var( --e-global-typography-text-font-family ), Open Sans;
    font-size:var( --e-global-typography-text-font-size );
    font-weight:var( --e-global-typography-text-font-weight );
}
.elementor-widget-icon-list .elementor-icon-list-text{
    color:var( --e-global-color-secondary );
}
.elementor-3670 .elementor-element.elementor-element-584f76d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){
    padding-bottom:calc(0px/2);
}
.elementor-3670 .elementor-element.elementor-element-584f76d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){
    margin-top:calc(0px/2);
}
.elementor-3670 .elementor-element.elementor-element-584f76d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{
    margin-right:calc(0px/2);
    margin-left:calc(0px/2);
}
.elementor-3670 .elementor-element.elementor-element-584f76d .elementor-icon-list-items.elementor-inline-items{
    margin-right:calc(-0px/2);
    margin-left:calc(-0px/2);
}
body.rtl .elementor-3670 .elementor-element.elementor-element-584f76d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{
    left:calc(-0px/2);
}
body:not(.rtl) .elementor-3670 .elementor-element.elementor-element-584f76d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{
    right:calc(-0px/2);
}
.elementor-3670 .elementor-element.elementor-element-584f76d .elementor-icon-list-icon i{
    color:var( --e-global-color-776b3cb );
    transition:color 0.3s;
}
.elementor-3670 .elementor-element.elementor-element-584f76d .elementor-icon-list-icon svg{
    fill:var( --e-global-color-776b3cb );
    transition:fill 0.3s;
}
.elementor-3670 .elementor-element.elementor-element-584f76d{
    --e-icon-list-icon-size:18px;
    --e-icon-list-icon-align:left;
    --e-icon-list-icon-margin:0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0;
    --icon-vertical-offset:0px;
}
.elementor-3670 .elementor-element.elementor-element-584f76d .elementor-icon-list-icon{
    padding-right:4px;
}
.elementor-3670 .elementor-element.elementor-element-584f76d .elementor-icon-list-item > .elementor-icon-list-text, .elementor-3670 .elementor-element.elementor-element-584f76d .elementor-icon-list-item > a{
    font-size:14px;
    font-weight:500;
}
.elementor-3670 .elementor-element.elementor-element-584f76d .elementor-icon-list-text{
    text-shadow:0px 0px 10px rgba(0,0,0,0.3);
    color:var( --e-global-color-afbf0de );
    transition:color 0.3s;
}
.elementor-bc-flex-widget .elementor-3670 .elementor-element.elementor-element-466e6c5.elementor-column .elementor-widget-wrap{
    align-items:center;
}
.elementor-3670 .elementor-element.elementor-element-466e6c5.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
    align-content:center;
    align-items:center;
}
.elementor-3670 .elementor-element.elementor-element-466e6c5.elementor-column > .elementor-widget-wrap{
    justify-content:center;
}
.elementor-3670 .elementor-element.elementor-element-466e6c5 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
    margin-bottom:5px;
}
.elementor-3670 .elementor-element.elementor-element-c92aad2{
    margin:-6px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
    padding:0px 0px 0px 0px;
    text-align:left;
}
.elementor-3670 .elementor-element.elementor-element-c92aad2 .elementor-heading-title{
    font-size:18px;
    font-weight:500;
    color:#ffffff;
}
.elementor-3670 .elementor-element.elementor-element-f0fd52d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){
    padding-bottom:calc(8px/2);
}
.elementor-3670 .elementor-element.elementor-element-f0fd52d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){
    margin-top:calc(8px/2);
}
.elementor-3670 .elementor-element.elementor-element-f0fd52d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{
    margin-right:calc(8px/2);
    margin-left:calc(8px/2);
}
.elementor-3670 .elementor-element.elementor-element-f0fd52d .elementor-icon-list-items.elementor-inline-items{
    margin-right:calc(-8px/2);
    margin-left:calc(-8px/2);
}
body.rtl .elementor-3670 .elementor-element.elementor-element-f0fd52d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{
    left:calc(-8px/2);
}
body:not(.rtl) .elementor-3670 .elementor-element.elementor-element-f0fd52d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{
    right:calc(-8px/2);
}
.elementor-3670 .elementor-element.elementor-element-f0fd52d .elementor-icon-list-icon i{
    color:var( --e-global-color-776b3cb );
    transition:color 0.3s;
}
.elementor-3670 .elementor-element.elementor-element-f0fd52d .elementor-icon-list-icon svg{
    fill:var( --e-global-color-776b3cb );
    transition:fill 0.3s;
}
.elementor-3670 .elementor-element.elementor-element-f0fd52d{
    --e-icon-list-icon-size:18px;
    --e-icon-list-icon-align:center;
    --e-icon-list-icon-margin:0 calc(var(--e-icon-list-icon-size, 1em) * 0.125);
    --icon-vertical-offset:0px;
}
.elementor-3670 .elementor-element.elementor-element-f0fd52d .elementor-icon-list-icon{
    padding-right:6px;
}
.elementor-3670 .elementor-element.elementor-element-f0fd52d .elementor-icon-list-item > .elementor-icon-list-text, .elementor-3670 .elementor-element.elementor-element-f0fd52d .elementor-icon-list-item > a{
    font-size:14px;
    font-weight:300;
}
.elementor-3670 .elementor-element.elementor-element-f0fd52d .elementor-icon-list-text{
    transition:color 0.3s;
}
.elementor-3670 .elementor-element.elementor-element-71115e2 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){
    padding-bottom:calc(8px/2);
}
.elementor-3670 .elementor-element.elementor-element-71115e2 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){
    margin-top:calc(8px/2);
}
.elementor-3670 .elementor-element.elementor-element-71115e2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{
    margin-right:calc(8px/2);
    margin-left:calc(8px/2);
}
.elementor-3670 .elementor-element.elementor-element-71115e2 .elementor-icon-list-items.elementor-inline-items{
    margin-right:calc(-8px/2);
    margin-left:calc(-8px/2);
}
body.rtl .elementor-3670 .elementor-element.elementor-element-71115e2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{
    left:calc(-8px/2);
}
body:not(.rtl) .elementor-3670 .elementor-element.elementor-element-71115e2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{
    right:calc(-8px/2);
}
.elementor-3670 .elementor-element.elementor-element-71115e2 .elementor-icon-list-icon i{
    color:var( --e-global-color-776b3cb );
    transition:color 0.3s;
}
.elementor-3670 .elementor-element.elementor-element-71115e2 .elementor-icon-list-icon svg{
    fill:var( --e-global-color-776b3cb );
    transition:fill 0.3s;
}
.elementor-3670 .elementor-element.elementor-element-71115e2{
    --e-icon-list-icon-size:18px;
    --e-icon-list-icon-align:center;
    --e-icon-list-icon-margin:0 calc(var(--e-icon-list-icon-size, 1em) * 0.125);
    --icon-vertical-offset:0px;
}
.elementor-3670 .elementor-element.elementor-element-71115e2 .elementor-icon-list-icon{
    padding-right:6px;
}
.elementor-3670 .elementor-element.elementor-element-71115e2 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-3670 .elementor-element.elementor-element-71115e2 .elementor-icon-list-item > a{
    font-size:14px;
    font-weight:300;
}
.elementor-3670 .elementor-element.elementor-element-71115e2 .elementor-icon-list-text{
    transition:color 0.3s;
}
.elementor-3670 .elementor-element.elementor-element-c681c34 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){
    padding-bottom:calc(8px/2);
}
.elementor-3670 .elementor-element.elementor-element-c681c34 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){
    margin-top:calc(8px/2);
}
.elementor-3670 .elementor-element.elementor-element-c681c34 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{
    margin-right:calc(8px/2);
    margin-left:calc(8px/2);
}
.elementor-3670 .elementor-element.elementor-element-c681c34 .elementor-icon-list-items.elementor-inline-items{
    margin-right:calc(-8px/2);
    margin-left:calc(-8px/2);
}
body.rtl .elementor-3670 .elementor-element.elementor-element-c681c34 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{
    left:calc(-8px/2);
}
body:not(.rtl) .elementor-3670 .elementor-element.elementor-element-c681c34 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{
    right:calc(-8px/2);
}
.elementor-3670 .elementor-element.elementor-element-c681c34 .elementor-icon-list-icon i{
    color:var( --e-global-color-776b3cb );
    transition:color 0.3s;
}
.elementor-3670 .elementor-element.elementor-element-c681c34 .elementor-icon-list-icon svg{
    fill:var( --e-global-color-776b3cb );
    transition:fill 0.3s;
}
.elementor-3670 .elementor-element.elementor-element-c681c34{
    --e-icon-list-icon-size:18px;
    --e-icon-list-icon-align:center;
    --e-icon-list-icon-margin:0 calc(var(--e-icon-list-icon-size, 1em) * 0.125);
    --icon-vertical-offset:0px;
}
.elementor-3670 .elementor-element.elementor-element-c681c34 .elementor-icon-list-icon{
    padding-right:6px;
}
.elementor-3670 .elementor-element.elementor-element-c681c34 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-3670 .elementor-element.elementor-element-c681c34 .elementor-icon-list-item > a{
    font-size:14px;
    font-weight:300;
}
.elementor-3670 .elementor-element.elementor-element-c681c34 .elementor-icon-list-text{
    transition:color 0.3s;
}
.elementor-3670 .elementor-element.elementor-element-061014d{
    margin-top:0px;
    margin-bottom:0px;
    padding:0px 0px 0px 0px;
}
.elementor-bc-flex-widget .elementor-3670 .elementor-element.elementor-element-37c7c7f.elementor-column .elementor-widget-wrap{
    align-items:center;
}
.elementor-3670 .elementor-element.elementor-element-37c7c7f.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
    align-content:center;
    align-items:center;
}
.elementor-widget-image .widget-image-caption{
    color:var( --e-global-color-text );
    font-family:var( --e-global-typography-text-font-family ), Open Sans;
    font-size:var( --e-global-typography-text-font-size );
    font-weight:var( --e-global-typography-text-font-weight );
}
.elementor-3670 .elementor-element.elementor-element-227df99{
    background-color:var( --e-global-color-afbf0de );
    margin:0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
    padding:5px 5px 5px 5px;
    border-radius:20px 20px 20px 20px;
    text-align:center;
}
.elementor-3670 .elementor-element.elementor-element-227df99.ha-has-bg-overlay > .elementor-widget-container:before{
    transition:background 0.3s;
}
.elementor-3670 .elementor-element.elementor-element-227df99 img{
    max-width:80%;
}
.elementor-3670 .elementor-element.elementor-element-1ebe27f{
    margin:6px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
    text-align:center;
}
.elementor-3670 .elementor-element.elementor-element-1ebe27f img{
    max-width:90%;
}
.elementor-3670:not(.elementor-motion-effects-element-type-background), .elementor-3670 > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-color:var( --e-global-color-afbf0de );
}
@media(min-width:768px){
    .elementor-3670 .elementor-element.elementor-element-2c4b41b{
        width:29.525%;
    }
    .elementor-3670 .elementor-element.elementor-element-894c9b9{
        width:17.333%;
    }
    .elementor-3670 .elementor-element.elementor-element-466e6c5{
        width:52.474%;
    }
    .elementor-3670 .elementor-element.elementor-element-b5461aa{
        width:31.551%;
    }
    .elementor-3670 .elementor-element.elementor-element-90b065a{
        width:30.33%;
    }
    .elementor-3670 .elementor-element.elementor-element-a255b2b{
        width:37.449%;
    }
}
@media(max-width:1024px) and (min-width:768px){
    .elementor-3670 .elementor-element.elementor-element-466e6c5{
        width:20%;
    }
}
@media(min-width:2400px){
    .elementor-widget-text-editor{
        font-size:var( --e-global-typography-text-font-size );
    }
    .elementor-widget-image-box .elementor-image-box-title{
        font-size:var( --e-global-typography-primary-font-size );
        line-height:var( --e-global-typography-primary-line-height );
        letter-spacing:var( --e-global-typography-primary-letter-spacing );
    }
    .elementor-widget-image-box .elementor-image-box-description{
        font-size:var( --e-global-typography-text-font-size );
    }
    .elementor-widget-heading .elementor-heading-title{
        font-size:var( --e-global-typography-primary-font-size );
        line-height:var( --e-global-typography-primary-line-height );
        letter-spacing:var( --e-global-typography-primary-letter-spacing );
    }
    .elementor-widget-nav-menu .elementor-nav-menu .elementor-item{
        font-size:var( --e-global-typography-primary-font-size );
        line-height:var( --e-global-typography-primary-line-height );
        letter-spacing:var( --e-global-typography-primary-letter-spacing );
    }
    .elementor-widget-icon-list .elementor-icon-list-item > .elementor-icon-list-text, .elementor-widget-icon-list .elementor-icon-list-item > a{
        font-size:var( --e-global-typography-text-font-size );
    }
    .elementor-widget-image .widget-image-caption{
        font-size:var( --e-global-typography-text-font-size );
    }
}
@media(max-width:1366px){
    .elementor-widget-text-editor{
        font-size:var( --e-global-typography-text-font-size );
    }
    .elementor-widget-image-box .elementor-image-box-title{
        font-size:var( --e-global-typography-primary-font-size );
        line-height:var( --e-global-typography-primary-line-height );
        letter-spacing:var( --e-global-typography-primary-letter-spacing );
    }
    .elementor-widget-image-box .elementor-image-box-description{
        font-size:var( --e-global-typography-text-font-size );
    }
    .elementor-widget-heading .elementor-heading-title{
        font-size:var( --e-global-typography-primary-font-size );
        line-height:var( --e-global-typography-primary-line-height );
        letter-spacing:var( --e-global-typography-primary-letter-spacing );
    }
    .elementor-widget-nav-menu .elementor-nav-menu .elementor-item{
        font-size:var( --e-global-typography-primary-font-size );
        line-height:var( --e-global-typography-primary-line-height );
        letter-spacing:var( --e-global-typography-primary-letter-spacing );
    }
    .elementor-widget-icon-list .elementor-icon-list-item > .elementor-icon-list-text, .elementor-widget-icon-list .elementor-icon-list-item > a{
        font-size:var( --e-global-typography-text-font-size );
    }
    .elementor-widget-image .widget-image-caption{
        font-size:var( --e-global-typography-text-font-size );
    }
}
@media(max-width:1024px){
    .elementor-3670 .elementor-element.elementor-element-c6e17d2{
        padding:50px 20px 50px 20px;
    }
    .elementor-3670 .elementor-element.elementor-element-dfc7e3c > .elementor-element-populated{
        padding:50px 20px 50px 20px;
    }
    .elementor-widget-text-editor{
        font-size:var( --e-global-typography-text-font-size );
    }
    .elementor-3670 .elementor-element.elementor-element-f2436cc{
        --icon-size:10px;
    }
    .elementor-widget-image-box .elementor-image-box-title{
        font-size:var( --e-global-typography-primary-font-size );
        line-height:var( --e-global-typography-primary-line-height );
        letter-spacing:var( --e-global-typography-primary-letter-spacing );
    }
    .elementor-widget-image-box .elementor-image-box-description{
        font-size:var( --e-global-typography-text-font-size );
    }
    .elementor-widget-heading .elementor-heading-title{
        font-size:var( --e-global-typography-primary-font-size );
        line-height:var( --e-global-typography-primary-line-height );
        letter-spacing:var( --e-global-typography-primary-letter-spacing );
    }
    .elementor-widget-nav-menu .elementor-nav-menu .elementor-item{
        font-size:var( --e-global-typography-primary-font-size );
        line-height:var( --e-global-typography-primary-line-height );
        letter-spacing:var( --e-global-typography-primary-letter-spacing );
    }
    .elementor-widget-icon-list .elementor-icon-list-item > .elementor-icon-list-text, .elementor-widget-icon-list .elementor-icon-list-item > a{
        font-size:var( --e-global-typography-text-font-size );
    }
    .elementor-3670 .elementor-element.elementor-element-584f76d .elementor-icon-list-item > .elementor-icon-list-text, .elementor-3670 .elementor-element.elementor-element-584f76d .elementor-icon-list-item > a{
        font-size:13px;
    }
    .elementor-3670 .elementor-element.elementor-element-466e6c5 > .elementor-element-populated{
        margin:0px 0px 0px 0px;
        --e-column-margin-right:0px;
        --e-column-margin-left:0px;
    }
    .elementor-3670 .elementor-element.elementor-element-f0fd52d .elementor-icon-list-item > .elementor-icon-list-text, .elementor-3670 .elementor-element.elementor-element-f0fd52d .elementor-icon-list-item > a{
        font-size:13px;
    }
    .elementor-3670 .elementor-element.elementor-element-71115e2 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-3670 .elementor-element.elementor-element-71115e2 .elementor-icon-list-item > a{
        font-size:13px;
    }
    .elementor-3670 .elementor-element.elementor-element-c681c34 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-3670 .elementor-element.elementor-element-c681c34 .elementor-icon-list-item > a{
        font-size:13px;
    }
    .elementor-widget-image .widget-image-caption{
        font-size:var( --e-global-typography-text-font-size );
    }
}
@media(max-width:767px){
    .elementor-3670 .elementor-element.elementor-element-c6e17d2{
        padding:35px 20px 35px 20px;
    }
    .elementor-3670 .elementor-element.elementor-element-dfc7e3c > .elementor-element-populated{
        padding:35px 20px 35px 20px;
    }
    .elementor-widget-text-editor{
        font-size:var( --e-global-typography-text-font-size );
    }
    .elementor-3670 .elementor-element.elementor-element-2958ed6{
        text-align:left;
    }
    .elementor-3670 .elementor-element.elementor-element-f2436cc{
        text-align:left;
    }
    .elementor-3670 .elementor-element.elementor-element-61f5157{
        text-align:left;
    }
    .elementor-widget-image-box .elementor-image-box-title{
        font-size:var( --e-global-typography-primary-font-size );
        line-height:var( --e-global-typography-primary-line-height );
        letter-spacing:var( --e-global-typography-primary-letter-spacing );
    }
    .elementor-widget-image-box .elementor-image-box-description{
        font-size:var( --e-global-typography-text-font-size );
    }
    .elementor-3670 .elementor-element.elementor-element-8dd91a3 .elementor-image-box-img{
        margin-bottom:0px;
    }
    .elementor-widget-heading .elementor-heading-title{
        font-size:var( --e-global-typography-primary-font-size );
        line-height:var( --e-global-typography-primary-line-height );
        letter-spacing:var( --e-global-typography-primary-letter-spacing );
    }
    .elementor-3670 .elementor-element.elementor-element-c644e54{
        text-align:left;
    }
    .elementor-widget-nav-menu .elementor-nav-menu .elementor-item{
        font-size:var( --e-global-typography-primary-font-size );
        line-height:var( --e-global-typography-primary-line-height );
        letter-spacing:var( --e-global-typography-primary-letter-spacing );
    }
    .elementor-3670 .elementor-element.elementor-element-f8c4a9e{
        text-align:left;
    }
    .elementor-widget-icon-list .elementor-icon-list-item > .elementor-icon-list-text, .elementor-widget-icon-list .elementor-icon-list-item > a{
        font-size:var( --e-global-typography-text-font-size );
    }
    .elementor-3670 .elementor-element.elementor-element-584f76d .elementor-icon-list-item > .elementor-icon-list-text, .elementor-3670 .elementor-element.elementor-element-584f76d .elementor-icon-list-item > a{
        font-size:13px;
    }
    .elementor-3670 .elementor-element.elementor-element-466e6c5{
        width:33%;
    }
    .elementor-3670 .elementor-element.elementor-element-466e6c5 > .elementor-element-populated{
        padding:0px 0px 0px 0px;
    }
    .elementor-3670 .elementor-element.elementor-element-f0fd52d .elementor-icon-list-item > .elementor-icon-list-text, .elementor-3670 .elementor-element.elementor-element-f0fd52d .elementor-icon-list-item > a{
        font-size:13px;
    }
    .elementor-3670 .elementor-element.elementor-element-71115e2 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-3670 .elementor-element.elementor-element-71115e2 .elementor-icon-list-item > a{
        font-size:13px;
    }
    .elementor-3670 .elementor-element.elementor-element-c681c34 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-3670 .elementor-element.elementor-element-c681c34 .elementor-icon-list-item > a{
        font-size:13px;
    }
    .elementor-widget-image .widget-image-caption{
        font-size:var( --e-global-typography-text-font-size );
    }
}
