.header-container{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sub-container-header{
    display: flex;
    flex-direction: row;
}

.header-logo-container{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
    align-items: center;
}

.letra-header{
    font-size: 14px !important;
  font-weight: 400 !important;
  text-align: center;
}

.info-header-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info-header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.google-image{
    margin-left: 32px;
    margin-top: 16px;
}

.divisor{
    --divider-border-style: solid;
  --divider-color: white;
  margin-top: 32px;
  margin-bottom: 16px;
}

.direitos{
    display: flex;
    flex-direction: row;
    padding:0px 8px;
    justify-content: space-between;
    color: white;
    font-family: poppins;
}